@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 250ms ease-in;
}
.navbar {
  margin-top: 0;
  width: 100%;
  background-color: #4d4f4f;
  margin-bottom: 0;
  text-align: center;
}

.navbar li {
  display: inline;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.container1 {
  background-image: url("https://tenos200.github.io/pictures/uniStrath.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin: 0 auto !important;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container3 {
}

.header_h2 {
  text-align: center;
  font-size: 0px;
}

.name_tim {
  color: black;
  font-size: 50px;
  font-family: Courier New, monospace;
  margin-left: 140px;
  margin-top: 100px;
}
.subheader_h3 {
  font-family: Courier New, monospace;
  font-size: 25px;
  margin-left: 20px;
}

.about_me_container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0px;
}

.about_me_text {
  display: flex;
  width: 50%;
}
.btn_about_me {
  border: none;
  background-color: transparent;
  font-family: Courier New, monospace;
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
}
.btn_about_me:hover {
  cursor: pointer;
  color: white;
}

.btn_scroll_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn_scroll_work {
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: Courier New, monospace;
  margin-bottom: 20px;
}
.btn_scroll_work:hover {
  cursor: pointer;
  color: coral;
}

.material-icons {
  margin-right: 10px;
}

.next_section {
  height: 50px;
  background-color: white;
  width: 100%;
}

.picture_tim {
  height: 600px;
}
.picture_header {
  color: black;
  font-family: Courier New, monospace;
  margin-top: 50px;
  font-size: 40px;
  text-align: center;
}

.about_me_text_picture {
  display: flex;
  flex-direction: row;
}
.paragraph_about_me {
  font-size: 25px;
  font-family: Courier New, monospace;
  margin-right: 20px;
  margin-left: 20px;
}

/* this section is about work experience*/

.next_section2 {
  height: 50px;
  background-color: white;
  width: 100%;
}
.workContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workContainer .gondolen {
  flex: 0 1 400px; /*  No stretching: */
  margin: 5px;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  display: flex;
}

.gondolen {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.haymarket {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.postNord {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.workContainer .haymarket {
  height: 500px;
  flex: 0 1 400px; /*  No stretching: */
  margin: 5px;
  background-color: white;
  border: 1px solid black;
  display: flex;
}

.workContainer .postNord {
  height: 500px;
  flex: 0 1 400px; /*  No stretching: */
  background-color: white;
  border: 1px solid black;
  margin: 5px;
  display: flex;
}

.gondolen_header {
  font-family: Courier New, monospace;
}
.gondolen_picture_inside {
  height: 400px;
  width: 380px;
}

.haymarket_header {
  font-family: Courier New, monospace;
}
.haymarket_picture_inside {
  height: 400px;
  width: 380px;
}
.postNord_header {
  font-family: Courier New, monospace;
}

.postNord_picture {
  height: 400px;
  width: 380px;
}
