/*mobile and smaller screens*/
@media (max-width: 480px) {
  .AboutContainer {
    display: flex;
    flex-direction: column;
    background-image: url(./pictures/tim_enos.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 1000px;
  }

  .AboutContainer p {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem;
    font-size: 1.2rem;
    font-family: "Gravity-Book";
  }
  .AboutmeHeader {
    margin-top: 0rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Gravity-Regular";
    letter-spacing: 0.4rem;
  }
}

/*desktop and bigger screens*/
@media only screen and (min-width: 481px) {
  .AboutContainer {
    display: flex;
    flex-direction: column;
    background-image: url(./pictures/tim_enos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  }

  .AboutContainer p {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: "Gravity-Book";
  }
  .AboutmeHeader {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Gravity-Regular";
    letter-spacing: 0.4rem;
  }
}
